<!DOCTYPE html>
<html>
<head>
    <title>Update Student</title>
</head>
<body>

<h1>Update Student</h1>

<form method="POST">

    Name:
    <input type="text"
           name="name"
           value="{{ student['name'] }}"><br><br>

    Age:
    <input type="number"
           name="age"
           value="{{ student['age'] }}"><br><br>

    Course:
    <input type="text"
           name="course"
           value="{{ student['course'] }}"><br><br>

    <input type="submit" value="Update">

</form>

</body>
</html>